.btn {
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
  width: 2.357rem;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  border-raduis: 2px;
  i {
    color: #fff;
  }
}
.btn-success {
  background-color: #689f38;
  border: 1px solid #689f38;
  margin-right: 0;
}
