<section class="header">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active indicator active-indicator"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        class="mt-3 mb-3 indicator"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        class="indicator"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="layout"></div>
        <img
          src="./assets/images/home/4.jpeg"
          class="d-block w-100"
          alt="..."
          draggable="false"
        />

        <div class="carousel-item-data">
          <h1 [@fadeInOut]>
            {{ "Last3daysof" | translate }}
            <span class="header-subtitle">{{ "summerSale" | translate }}</span>
          </h1>
          <div class="load-more-wrapper">
            <a href="create-account.html" class="btn-two">{{
              "shopFurniture" | translate
            }}</a>
          </div>

          <!-- <div class="advirtise">
            <p>up to <span>80% OFF ONLINE EXCLUSIVE</span></p>
          </div> -->
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="layout"></div>

        <img
          src="./assets/images/home/5.jpeg"
          class="d-block w-100"
          alt="..."
        />

        <div class="carousel-item-data">
          <h1>
            {{ "summer" | translate }}
            <span class="header-subtitle">{{ "collections" | translate }}</span>
          </h1>
          <div class="load-more-wrapper">
            <a href="create-account.html" class="btn-two">{{
              "shopNow" | translate
            }}</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="layout"></div>

        <img
          src="./assets/images/home/6.jpeg"
          class="d-block w-100"
          alt="..."
        />

        <div class="carousel-item-data">
          <h1>{{ "eatFood" | translate }}</h1>
          <div class="load-more-wrapper">
            <a href="create-account.html" class="btn-two">{{
              "shopNow" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button> -->
    <!-- <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
  </div>
</section>
