<section class="main-product">
  <div class="container container-two">
    <div class="section-heading" data-aos="fade-up" data-aos-duration="2000">
      <h3>
        {{ "clients" | translate }} <span>{{ "success" | translate }}</span>
      </h3>

      <p>{{ "h4" | translate }}</p>
    </div>
    <!-- <app-section-title>
       
        <p
          data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="4000"
        >
          Experience the epitome of luxury with our best-selling luxury furniture
          – where comfort meets comfort With sophistication.
        </p>
  
        <a class="btn-two">{{ "shopNow" | translate }}</a>
      </app-section-title> -->

    <div class="row">
      <div class="col-xl-12 mt-4">
        <owl-carousel-o [options]="customOptions" dir="ltr">
          <ng-container *ngFor="let partner of images">
            <ng-template carouselSlide>
              <div class="customers-partner-list">
                <div class="partner-item">
                  <a>
                    <img [src]="partner.imageUrl" alt="" />
                  </a>
                </div>
                <!--./partener-item-->
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
