<div class="m">
  <div class="row">
    <div class="col-md-6">
      <!-- Product View Slider -->
      <div class="">
        <div class="slider-for">
          <div class="">
            <img src="./assets/images/styles/كومدينا 2.jpg" alt="Thumb" />
          </div>
        </div>
      </div>

      <!-- /.col-xl-6 -->

      <!-- /.col-xl-6 -->
    </div>

    <div class="col-md-6">
      <div class="product-details">
        <h5 class="pro-title"><a href="#">Product Fashion summer 2023</a></h5>
        <span class="price">Price : $387</span>
        <div class="size-variation">
          <span>size :</span>
          <select name="size-value">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
          </select>
        </div>
        <div class="color-variation">
          <span>color :</span>
          <ul>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
            <li><i class="fas fa-circle"></i></li>
          </ul>
        </div>

        <!-- <span>SKU:	N/A</span>
                    <p>Tags <a href="#">boys,</a><a href="#"> dress,</a><a href="#">Rok-dress</a></p> -->

        <p>
          But I must explain to you how all this mistaken idedenounc pleasure
          and praisi pain was born and I will give you a complete accosystem,
          and expound the actu teachings of the great explore tmaster-builder of
          human happiness. No one rejects, dislikes, or avoids.
        </p>

        <div class="product-social">
          <span>Share :</span>
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.product-details -->
    </div>
    <!-- /.row -->
  </div>
</div>
