<!--=========================-->
<!--=        Breadcrumb         =-->
<!--=========================-->

<section class="breadcrumb-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bc-inner">
          <p><a routerLink="/">Home |</a> Shop</p>
        </div>
      </div>
      <!-- /.col-xl-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!--=========================-->
<!--=        Shop area          =-->
<!--=========================-->

<section class="shop-area style-two">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-lg-6 col-xl-6">
            <!-- Product View Slider -->
            <div class="quickview-slider">
              <div class="slider-for">
                <div class="">
                  <img [src]="product?.image_url" alt="Thumb" />
                </div>
              </div>
            </div>
            <!-- /.quickview-slider -->
          </div>
          <!-- /.col-xl-6 -->

          <div class="col-lg-6 col-xl-6">
            <div class="product-details">
              <h5 class="pro-title">
                <a href="#">{{ product?.name?.ar }}</a>
              </h5>

              <div class="color-variation">
                <span>color :</span>
                <ul>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                </ul>
              </div>

              <div class="add-tocart-wrap">
                <!--PRODUCT INCREASE BUTTON START-->
                <div class="">
                  <input
                    type="text"
                    value="0"
                    name="qtybutton"
                    class="cart-plus-minus"
                  />
                </div>
                <a href="#" class="add-to-cart"
                  ><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a
                >
                <!-- <a href="#"><i class="flaticon-valentines-heart"></i></a> -->
              </div>

              <!-- <span>SKU:	N/A</span>
								<p>Tags <a href="#">boys,</a><a href="#"> dress,</a><a href="#">Rok-dress</a></p> -->

              <p *ngIf="_translate.getCurrentLanguage() == 'ar'">
                {{ product?.description?.ar }}
              </p>
              <p *ngIf="_translate.getCurrentLanguage() == 'en'">
                {{ product?.description?.en }}
              </p>

              <ul>
                <li *ngIf="product.status.en! == ''">
                  {{ product.status.en }}
                </li>
                <!-- <li>quis nostrud exercitation ullamco</li>
                <li>Duis aute irure dolor in reprehenderit</li> -->
              </ul>
              <div class="product-social">
                <span>Share :</span>
                <ul>
                  <li>
                    <a
                      href="https://www.facebook.com/profile.php?id=100067571287373"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://twitter.com/marvel_hoome?s=21&t=rbTuaqCNxKNotEnHHiwMcQ"
                      target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/marvel_hoome?igshid=MzRlODBiNWFlZA=="
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.tiktok.com/@marvel_hoome?_t=8efkPoRY3gg&_r=1"
                      target="_blank"
                      ><i class="fa-brands fa-tiktok"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.product-details -->
          </div>
          <!-- /.col-xl-6 -->

          <mat-tab-group class="mt-4">
            <mat-tab label="Details">
              <p *ngIf="_translate.getCurrentLanguage() == 'ar'">
                {{ product.description.ar }}
              </p>
              <p *ngIf="_translate.getCurrentLanguage() == 'en'">
                {{ product.description.en }}
              </p>
            </mat-tab>
            <mat-tab label="Type">
              <p *ngIf="_translate.getCurrentLanguage() == 'ar'">
                {{ product.type.ar }}
              </p>
              <p *ngIf="_translate.getCurrentLanguage() == 'en'">
                {{ product.type.en }}
              </p>
            </mat-tab>
            <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
          </mat-tab-group>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-xl-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.shop-area -->
