$mainColor: #a00f76;
.banner-product h3 {
  color: $mainColor;
}

.prod {
  height: 100%;
  .pro-img {
    height: 100%;
  }
  img {
    height: 100%;
  }
}

.banner-product {
  margin-bottom: 100px;
}
