<section class="breadcrumb-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bc-inner">
          <p>
            <a routerLink="/">{{ "home" | translate }} |</a>
            {{ "shop" | translate }}
          </p>
        </div>
      </div>
      <!-- /.col-xl-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<div class="about-area pd">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-12 col-md-12 p-0">
        <div class="about-content">
          <span>{{ "aboutMarvel" | translate }}</span>
          <!-- -->
          <p class="mt-3">
            {{ "aboutContent" | translate }}
          </p>
          <p class="mt-3">
            {{ "aboutContent2" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-success-partners></app-success-partners>
