<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon">
        <i class="fa-solid fa-bars"></i>
      </span>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="[translate.currentLang + '/home']"
            routerLinkActive="active"
            >{{ "home" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            [routerLink]="[translate.currentLang + '/about']"
            routerLinkActive="active"
            >{{ "about" | translate }}</a
          >
        </li>

        <li class="nav-item shop-dropdown dropdown">
          <a
            class="nav-link"
            [routerLink]="[translate.currentLang + '/product/product-list']"
            routerLinkActive="active"
          >
            {{ "shop" | translate }}</a
          >
          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            #dropdown
            [ngStyle]="{
              left: translate.currentLang == 'en' ? '-100px' : 'auto',
            
            }"
          >
            <ng-container *ngIf="translate.currentLang == 'ar'">
              <a
                class="dropdown-item"
                [routerLink]="[
                  './' +
                    translate.currentLang +
                    '/product/product-list/' +
                    cat.id
                ]"
                *ngFor="let cat of categories | async"
              >
                {{ cat.name.ar }}
              </a>
            </ng-container>

            <ng-container *ngIf="translate.currentLang == 'en'">
              <a
                class="dropdown-item"
                [routerLink]="[
                  './' +
                    translate.currentLang +
                    '/product/product-list/' +
                    cat.id
                ]"
                *ngFor="let cat of categories | async"
                >{{ cat.name.en }}</a
              >
            </ng-container>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            (click)="downloadMarvelPdf()"
            >{{ "profileMarvel" | translate }}</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[translate.currentLang + '/contact']"
            routerLinkActive="active"
          >
            {{ "contactUs" | translate }}</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="dropdown.classList.toggle('show')"
          >
            {{ "categories" | translate }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" #dropdown>
            <ng-container *ngIf="translate.currentLang == 'ar'">
              <a
                class="dropdown-item"
                [routerLink]="[
                  './' +
                    translate.currentLang +
                    '/product/product-list/' +
                    cat.id
                ]"
                *ngFor="let cat of categories | async"
              >
                {{ cat.name.ar }}
              </a>
            </ng-container>

            <ng-container *ngIf="translate.currentLang == 'en'">
              <a
                class="dropdown-item"
                [routerLink]="[
                  './' +
                    translate.currentLang +
                    '/product/product-list/' +
                    cat.id
                ]"
                *ngFor="let cat of categories | async"
                >{{ cat.name.en }}</a
              >
            </ng-container>
          </div>
        </li> -->
      </ul>
    </div>
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo.jpeg" draggable="false" />
    </a>
    <div
      class="header-right-one"
      [ngClass]="
        languageService.getCurrentLanguage() == 'ar' ? 'dir-position' : ''
      "
    >
      <ul>
        <li class="language">
          <select class="custom-select" (change)="onSelect($event)">
            <option
              [selected]="languageService.getCurrentLanguage() == 'en'"
              value="en"
            >
              ENG
            </option>
            <option
              [selected]="languageService.getCurrentLanguage() == 'ar'"
              value="ar"
            >
              ع ر
            </option>
          </select>
        </li>

        <li class="user-login">
          <a
            [routerLink]="[translate.currentLang + '/login']"
            routerLinkActive="active"
          >
            <i class="fa fa-user" aria-hidden="true"></i
          ></a>
        </li>

        <li class="top-cart">
          <a href="javascript:void(0)" class="cart" (click)="openCart()"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <!--(2)-->
          </a>
          <div
            class="cart-drop"
            [ngStyle]="{ right: translate.currentLang == 'ar' ? '-220px' : '' }"
          >
            <div class="single-cart">
              <div class="cart-img">
                <img alt="" src="./assets/images/featured/2.jpg" />
              </div>
              <div class="cart-title">
                <p><a href="">Aliquam Consequat</a></p>
              </div>
              <div class="cart-price">
                <p>1 x $500</p>
              </div>
              <a href="#"><i class="fa fa-times"></i></a>
            </div>
            <div class="single-cart">
              <div class="cart-img">
                <img alt="" src="./assets/images/featured/3.jpg" />
              </div>
              <div class="cart-title">
                <p><a href="">Quisque In Arcuc</a></p>
              </div>
              <div class="cart-price">
                <p>1 x $200</p>
              </div>
              <a href="#"><i class="fa fa-times"></i></a>
            </div>
            <div class="cart-bottom">
              <div class="cart-sub-total">
                <p>Sub-Total <span>$700</span></p>
              </div>
              <div class="cart-sub-total">
                <p>Eco Tax (-2.00)<span>$7.00</span></p>
              </div>
              <div class="cart-sub-total">
                <p>VAT (20%) <span>$40.00</span></p>
              </div>
              <div class="cart-sub-total">
                <p>Total <span>$244.00</span></p>
              </div>
              <div class="cart-checkout">
                <a routerLink="cart"
                  ><i class="fa fa-shopping-cart"></i> View Cart</a
                >
              </div>
              <div class="cart-share">
                <a href="#"><i class="fa fa-share ml-2"></i> Checkout</a>
              </div>
            </div>
          </div>
        </li>
        <li class="top-search">
          <a href="javascript:void(0)"
            ><i class="fa fa-search ml-2" aria-hidden="true"></i>
          </a>
          <input type="text" class="search-input" placeholder="Search" />
        </li>
      </ul>
    </div>
  </div>
</nav>
