<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon">
        <i class="fa-solid fa-bars"></i>
      </span>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >{{ "home" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            [routerLink]="[selectedLang + '/about']"
            >{{ "about" | translate }}</a
          >
        </li>

        <li class="nav-item nav-item-dropdown">
          <a
            class="nav-link"
            [routerLink]="[selectedLang + '/product/product-list']"
          >
            {{ "shop" | translate }}</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="[selectedLang + '/contact']">
            {{ "contactUs" | translate }}</a
          >
        </li>
      </ul>
    </div>
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo.jpeg" draggable="false" />
    </a>
    <div
      class="header-right-one"
      [ngClass]="
        languageService.getCurrentLanguage() == 'ar' ? 'dir-position' : ''
      "
    >
      <ul>
        <li class="language">
          <select class="custom-select" (change)="onSelect($event)">
            <option
              [selected]="languageService.getCurrentLanguage() == 'en'"
              value="en"
            >
              ENG
            </option>
            <option
              [selected]="languageService.getCurrentLanguage() == 'ar'"
              value="ar"
            >
              ع ر
            </option>
          </select>
        </li>

        <li class="user-login">
          <a [routerLink]="[selectedLang + '/login']" routerLinkActive="active">
            <i class="fa fa-user" aria-hidden="true"></i
          ></a>
        </li>

        <li class="top-cart">
          <a href="javascript:void(0)" class="cart" (click)="openCart()"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i> (2)</a
          >
          <div class="cart-drop">
            <div class="single-cart">
              <div class="cart-img">
                <img alt="" src="./assets/images/product/car1.jpg" />
              </div>
              <div class="cart-title">
                <p><a href="">Aliquam Consequat</a></p>
              </div>
              <div class="cart-price">
                <p>1 x $500</p>
              </div>
              <a href="#"><i class="fa fa-times"></i></a>
            </div>
            <div class="single-cart">
              <div class="cart-img">
                <img alt="" src="./assets/images/product/car2.jpg" />
              </div>
              <div class="cart-title">
                <p><a href="">Quisque In Arcuc</a></p>
              </div>
              <div class="cart-price">
                <p>1 x $200</p>
              </div>
              <a href="#"><i class="fa fa-times"></i></a>
            </div>
            <div class="cart-bottom">
              <div class="cart-sub-total">
                <p>Sub-Total <span>$700</span></p>
              </div>
              <div class="cart-sub-total">
                <p>Eco Tax (-2.00)<span>$7.00</span></p>
              </div>
              <div class="cart-sub-total">
                <p>VAT (20%) <span>$40.00</span></p>
              </div>
              <div class="cart-sub-total">
                <p>Total <span>$244.00</span></p>
              </div>
              <div class="cart-checkout">
                <a href="cart.html"
                  ><i class="fa fa-shopping-cart"></i>View Cart</a
                >
              </div>
              <div class="cart-share">
                <a href="#"><i class="fa fa-share"></i>Checkout</a>
              </div>
            </div>
          </div>
        </li>
        <li class="top-search">
          <a href="javascript:void(0)"
            ><i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <input type="text" class="search-input" placeholder="Search" />
        </li>
      </ul>
    </div>
  </div>
</nav>
