<!--Contact area
	============================================= -->

<section class="breadcrumb-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bc-inner">
          <p><a routerLink="/">Home |</a> Shop</p>
        </div>
      </div>
      <!-- /.col-xl-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section class="contact-area mt-5">
  <div class="container-fluid custom-container">
    <div class="section-heading pb-30">
      <h3>
        {{ "joinWith" | translate }} <span>{{ "us" | translate }}</span>
      </h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-8 col-xl-6">
        <div class="contact-form">
          <form action="#">
            <div class="row">
              <div class="col-xl-6">
                <input type="text" [placeholder]="'firstName' | translate" />
              </div>
              <div class="col-xl-6">
                <input type="text" [placeholder]="'lastName' | translate" />
              </div>
              <div class="col-xl-6">
                <input type="text" [placeholder]="'email' | translate" />
              </div>
              <div class="col-xl-6">
                <input type="text" [placeholder]="'website' | translate" />
              </div>
              <div class="col-xl-12">
                <textarea
                  name="message"
                  [placeholder]="'message' | translate"
                ></textarea>
              </div>
              <div class="col-xl-12">
                <input type="submit" [value]="'submit' | translate" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.row end -->
  </div>
  <!-- /.container-fluid end -->
</section>
<!-- /.contact-area end -->

<!--Map area
============================================= -->

<!--Shop area
	============================================= -->
<!-- <section class="store-area padding-120">
  <div class="container">
    <div class="section-heading pb-30">
      <h3>
        {{ "shopAlso" | translate }} <span>{{ "here" | translate }}</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="single-store">
          <img src="./assets/images/styles/مكتب.jpg" alt="" />
          <a href="#">Product</a>
          <p>france</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="single-store">
          <img src="./assets/images/styles/صوفا.jpg" alt="" />
          <a href="#">Product</a>
          <p>new zealand</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="single-store">
          <img src="./assets/images/styles/طاولة 3.jpg" alt="" />
          <a href="#">Product</a>
          <p>manhattan</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- /.contact-area end -->
