<section class="layout mt-5">
  <div class="container">
    <div class="content">
      <div class="block-content">
        <div class="img-content">
          <a href="">
            <img src="./assets/images/home/12.jpeg" alt="" />
          </a>
        </div>
        <div class="text-content">
          <h3 class="appear">
            Keeping this at the heart of everything we do, we serve a rapidly
            evolving clientele, keeping them in touch with the latest, enabling
            them to express their individuality.
          </h3>
        </div>
      </div>
      <div class="block-content second-content">
        <div class="img-content">
          <a href="">
            <img src="./assets/images/home/12.jpeg" alt="" />
          </a>
        </div>
        <div class="text-content">
          <p data-animation="fadeInUp2" class="appear">
            Combining a century old family lineage in the craft of fine
            furniture with a focus on design and innovation, Al Huzaifa has
            defined furniture fashion in the region for over four decades now.
          </p>
          <div data-animation="fadeInUp3" class="appear">
            <a class="btn-two" href="/en/about-us">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
