<section class="layout mt-5">
  <div class="container">
    <div class="content">
      <div class="block-content">
        <div class="img-content">
          <a href="">
            <img src="./assets/images/home/12.jpeg" alt="" />
          </a>
        </div>
        <div class="text-content">
          <h3 class="appear">
            {{ "layoutAbout" | translate }}
          </h3>
        </div>
      </div>
      <div class="block-content second-content">
        <div class="img-content">
          <a href="">
            <img src="./assets/images/home/15.jpeg" alt="" />
          </a>
        </div>
        <div class="text-content">
          <p data-animation="fadeInUp2" class="appear">
            {{ "layoutAbout2" | translate }}
          </p>
          <div data-animation="fadeInUp3" class="appear">
            <a
              class="btn-two"
              [routerLink]="['/' + translate.currentLang + '/about']"
              >{{ "learnMore" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
