.whatsapp-btn-container {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 2px;
  padding: 24px;
  .whatsapp-btn {
    font-size: 40px;
    color: #25d366;
    display: inline-block;
    transition: all 400ms;
    &:hover {
      transform: scale(1.2);
    }
    &:hover + span {
      transform: rotateZ(0deg) translateX(0px);
      opacity: 1;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 8px;
    font-weight: bold;
    color: #075e54;
    transform: rotateZ(20deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;
  }
}

// @keyframes fadeUp {
//   100% {
//     bottom: 100px;
//     opacity: 1;
//   }
// }
