<app-header></app-header>

<!--*************Start Main Home Page Sections************-->
<!--**************Featured Products Section**********-->

<!-- <app-product-banner></app-product-banner> -->
<app-featured-products></app-featured-products>
<app-feature-area></app-feature-area>
<app-blog></app-blog>
<app-video-player></app-video-player>
<!-- <app-shop-by-category></app-shop-by-category> -->
<app-success-partners></app-success-partners>
<app-image-preview></app-image-preview>
<app-layout-about></app-layout-about>
<app-contact-us></app-contact-us>

<!-- <app-trending></app-trending> -->
