$mainColor: #a00f76;
.footer-widget-area {
  background-color: #232323 !important;
}
.companyName {
  p {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 18px;
  }
}

.footer-widget {
  img {
    width: 80%;
  }

  .footer-menu {
    li a {
      font-size: 22px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;

  li:hover {
    a {
      transition: all 0.5s ease-in;
      color: $mainColor;
    }
  }
}
small {
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}

.info {
  gap: 20px;
  li {
    a {
      color: #fff;
    }
  }
}
