<!--=========================-->
<!--=   Footer area      =-->
<!--=========================-->

<footer class="footer-widget-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="footer-widget">
          <div class="logo">
            <a href="#">
              <img src="./assets/images/logo-dark.png" alt="" />
            </a>
          </div>
          <!-- <p>
            Autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie consequat vel illum dolore eu olestie consequat Autem vel
            eum iriure dolor.
          </p> -->
        </div>
      </div>
      <!-- /.col-xl-3 -->
      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="footer-widget">
          <!-- <h3>our shop</h3> -->
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#">{{ "repeatedQuestion" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "termsAndConditions" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "ReturnAndExchange" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "shipping" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "Locations" | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.col-xl-3 -->
      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="footer-widget">
          <!-- <h3>COLLECTIONS</h3> -->
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#">{{ "about" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "designStudio" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "creatorsCircle" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "projects" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "Careers" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "Journals" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "callUs" | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.col-xl-3 -->
      <div class="col-md-6 col-lg-3 col-xl-3">
        <div class="footer-widget">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#">{{ "sittingRoom" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "diningRoom" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "bedRoom" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "accesories" | translate }}</a>
              </li>
              <li>
                <a href="#">{{ "liquidation" | translate }}</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="footer-widget">
					<h3>News & Updates</h3>
					<p>Sign up to get the latest on sales, new releases and more …</p>
					<div class="footer-subscribe-wrapper">
						<input placeholder="Enter Keyword" type="text">
						<button type="submit">SUBSCRIBE</button>
					</div>

				</div> -->
      </div>
      <!-- /.col-xl-3 -->
    </div>

    <div class="row companyName">
      <div class="col-12">
        <p>{{ "IndustrialProductionForcesCompany" | translate }}</p>
      </div>
      <div class="col-12">
        <div class="social">
          <ul>
            <li>
              <a
                href="https://www.facebook.com/profile.php?id=100067571287373"
                target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://instagram.com/marvel_hoome?igshid=MzRlODBiNWFlZA=="
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.tiktok.com/@marvel_hoome?_t=8efkPoRY3gg&_r=1"
                target="_blank"
                ><i class="fa-brands fa-tiktok"></i
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/marvel_hoome?s=21&t=rbTuaqCNxKNotEnHHiwMcQ"
                target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <!-- <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li> -->

            <!-- <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-dribbble"></i></a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <small class="">
            <span
              >©مارفيل هوم - شركة قوى الانتاج الصناعية - جميع الحقوق
              محفوظة</span
            >
          </small>

          <!-- <div
            data-content-type="html"
            data-appearance="default"
            data-element="main"
            data-decoded="true"
          >
            <ul class="d-flex info">
              <li>
                <a rel="nofollow">تعليمات الاستخدام</a>
              </li>
              <li>
                <a rel="nofollow">ملفات تعريف الارتباط وسياسة الخصوصية</a>
              </li>
            </ul>
          </div> -->
        </div>
        <!-- /.col-xl-6 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- container-fluid -->
</footer>
