<section class="blog mt-5 mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="blog-image">
          <img
            src="./assets/images/home/11.jpeg"
            alt="image"
            draggable="false"
          />
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div
          class="blog-cont ml-3"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="3000"
        >
          <h2>Distinctive group</h2>
          <div class="blog-cont-desc">
            <p class="p-style">
              We have truly elegant and exquisite collections that will add a
              distinctive and eye-catching touch
            </p>
          </div>

          <div class="blog-link">
            <a href="" class="btn-two">{{ "shopNow" | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
