<!--=========================-->
<!--=        Feature Area      =-->
<!--=========================-->

<section class="feature-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div class="icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="f-content">
              <h6>
                <a href="#">{{ "freeShipping" | translate }}</a>
              </h6>
              <p>{{ "freeShippingAllOrder" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div class="icon">
              <i class="fa-solid fa-globe"></i>
            </div>
            <div class="f-content">
              <h6>
                <a href="#">{{ "onlineSupport" | translate }}</a>
              </h6>
              <p>{{ "onlineSupport" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1400"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div class="icon">
              <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="f-content">
              <h6>
                <a href="#">{{ "moneyReturn" | translate }}</a>
              </h6>
              <p>{{ "backGuarantee" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1600"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div class="icon">
              <i class="fa-solid fa-percent"></i>
            </div>
            <div class="f-content">
              <h6>
                <a href="#">{{ "memberDiscount" | translate }}</a>
              </h6>
              <p>{{ "onEveryOrder" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.feature-area -->
