<!--=========================-->
<!--=        Feature Area      =-->
<!--=========================-->

<section class="feature-area">
  <div class="section-heading" data-aos="fade-up" data-aos-duration="2000">
    <h3
      [ngStyle]="{
        display: 'flex',
        'justify-content': 'center',
        'flex-direction': translate.currentLang == 'ar' ? 'row-reverse' : 'row',
        gap: '1rem'
      }"
    >
      {{ "marvel" | translate }} <span>{{ "offers" | translate }}</span>
    </h3>

    <p>{{ "h7" | translate }}</p>
  </div>
  <div class="container-fluid custom-container">
    <div class="row">
      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div
              class="icon"
              [ngStyle]="{
                'padding-right': translate.currentLang == 'ar' ? '15px' : ''
              }"
            >
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="f-content">
              <h6>
                <a>{{ "freeShipping" | translate }}</a>
              </h6>
              <p>{{ "freeShippingAllOrder" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div
              class="icon"
              [ngStyle]="{
                'padding-right': translate.currentLang == 'ar' ? '15px' : ''
              }"
            >
              <i class="fa-solid fa-globe"></i>
            </div>
            <div class="f-content">
              <h6>
                <a>{{ "onlineSupport" | translate }}</a>
              </h6>
              <p>{{ "onlineSupport" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1400"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div
              class="icon"
              [ngStyle]="{
                'padding-right': translate.currentLang == 'ar' ? '15px' : ''
              }"
            >
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="f-content">
              <h6>
                <a>{{ "customerService" | translate }}</a>
              </h6>
              <p>{{ "customerService" | translate }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Feature -->
      <div
        class="col-sm-6 col-xl-3"
        data-aos="fade-up"
        data-aos-duration="1600"
      >
        <div class="sin-feature">
          <div class="inner-sin-feature">
            <div
              class="icon"
              [ngStyle]="{
                'padding-right': translate.currentLang == 'ar' ? '15px' : ''
              }"
            >
              <i class="fa-solid fa-percent"></i>
            </div>
            <div class="f-content">
              <h6>
                <a>{{ "memberDiscount" | translate }}</a>
              </h6>
              <p>{{ "onEveryOrder" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.feature-area -->
