<!--=========================-->
<!--= Product banner style two  =-->
<!--=========================-->

<section class="product-banner-two-area padding-top-90">
  <div class="container container-two">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="prod-banner-two" style="height: 100%">
          <a href="#" style="height: 100%">
            <img
              src="./assets/images/styles/بوهو ستايل.jpg"
              alt=""
              height="100%"
            />
            <div class="pb-info">
              <p class="animated flip infinite">Category Shop</p>
              <h6>20% Off</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="prod-banner-two">
          <a href="#">
            <img src="./assets/images/styles/بووفية22 copy.jpg" alt="" />
            <div class="pb-info">
              <p>Category Shop</p>
              <h6>25% Off</h6>
            </div>
          </a>
        </div>
        <div class="prod-banner-two">
          <a href="#">
            <img src="./assets/images/styles/تسريحة الخبر.jpg" alt="" />
            <div class="pb-info">
              <p>Category Shop</p>
              <h6>15% Off</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="prod-banner-two banner">
          <a href="#">
            <img src="./assets/images/styles/ديكوور جداري.jpg" alt="" />
            <div class="pb-info">
              <p>Category Shop</p>
              <h6>15% Off</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container-wo -->
</section>

<!--=========================-->
<!--= Product banner style two  =-->
<!--=========================-->
