<section class="breadcrumb-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bc-inner">
          <p>
            <a routerLink="/">{{ "home" | translate }} |</a>
            {{ "shop" | translate }}
          </p>
        </div>
      </div>
      <!-- /.col-xl-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!--=========================-->
<!--=        Shop area          =-->
<!--=========================-->

<section class="shop-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="order-2 order-lg-1 col-lg-3 col-xl-3">
        <div class="shop-sidebar left-side">
          <div class="sidebar-widget sidebar-search">
            <input
              type="text"
              placeholder="{{ 'searchProduct' | translate }}...."
            />
            <button
              type="submit"
              [ngStyle]="{
                right: _translate.getCurrentLanguage() == 'ar' ? '80%' : 0
              }"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="sidebar-widget category-widget">
            <h6>PRODUCT CATEGORIES</h6>
            <ul>
              <li>
                <a href="#">{{ "bedRoom" | translate }} </a> <span>(19)</span>
              </li>
              <li>
                <a href="#">{{ "SofasAndBoards" | translate }} </a>
                <span>(15)</span>
              </li>
              <li>
                <a href="#">{{ "woodenDecorations" | translate }} </a>
                <span>(59)</span>
              </li>
              <li>
                <a href="#">{{ "tVOffices" | translate }} </a> <span>(29)</span>
              </li>
              <li>
                <a href="#">{{ "chairsAndTables" | translate }}</a>
                <span>(56)</span>
              </li>
              <li>
                <a href="#">{{ "curtains" | translate }}</a> <span>(48)</span>
              </li>
              <li>
                <a href="#">{{ "mattresses" | translate }}</a> <span>(11)</span>
              </li>
              <li>
                <a href="#">{{ "kitchens" | translate }}</a> <span>(11)</span>
              </li>
              <li>
                <a href="#">{{ "mattresses" | translate }}</a> <span>(11)</span>
              </li>
              <li>
                <a href="#">{{ "officeFurniture" | translate }}</a>
                <span>(11)</span>
              </li>
              <li>
                <a href="#">{{ "WoodenDoorsAndPanels" | translate }}</a>
                <span>(11)</span>
              </li>
            </ul>
          </div>

          <div class="sidebar-widget range-widget">
            <h6>SEARCH BY PRICE</h6>
            <div class="price-range">
              <div id="slider-range"></div>
              <ngx-slider
                [(value)]="minValue"
                [(highValue)]="maxValue"
                [options]="options"
              ></ngx-slider>
              <span>Price :</span>
            </div>
          </div>

          <div class="sidebar-widget color-widget">
            <h6>PRODUCT COLOR</h6>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>

          <div class="sidebar-widget product-widget">
            <h6>BEST SELLERS</h6>
            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/styles/مطبخ.jpg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title"><a href="#">Contrasting </a></h5>
                <span>$60</span>
                <span class="pre-price">$80</span>
                <div class="rating">
                  <ul>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/styles/كومدينا 2.jpg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title"><a href="#">Contrasting</a></h5>
                <span>$60</span>
                <span class="pre-price">$80</span>
                <div class="rating">
                  <ul>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/styles/ككككرسي.jpg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title"><a href="#">Contrasting </a></h5>
                <span>$60</span>
                <span class="pre-price">$80</span>
                <div class="rating">
                  <ul>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/styles/مكتب.jpg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title"><a href="#">Contrasting </a></h5>
                <span>$60</span>
                <span class="pre-price">$80</span>
                <div class="rating">
                  <ul>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-widget advertise-img">
            <a href="#" class="img">
              <img src="./assets/images/styles/مطبخ2.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <!-- /.col-xl-3 -->
      <div class="order-1 order-lg-2 col-lg-9 col-xl-9">
        <div class="shop-sorting-area row">
          <div class="col-4 col-sm-4 col-md-6">
            <ul class="nav nav-tabs shop-btn" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  ><i class="fa-solid fa-bars"></i
                ></a>
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  ><i class="flaticon-list"></i
                ></a>
              </li> -->
            </ul>
          </div>
          <!-- /.col-->
          <div class="col-12 col-sm-8 col-md-6">
            <div class="sort-by">
              <span>Sort by :</span>
              <select class="orderby" name="orderby">
                <option value="menu_order">Default sorting</option>
                <option value="popularity">Sort by popularity</option>
                <option value="rating">Sort by average rating</option>
                <option value="date">Sort by newness</option>
                <option selected="selected">Best Selling</option>
              </select>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.shop-sorting-area -->
        <div class="shop-content">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row" *ngIf="products?.length > 0">
                <div class="col-sm-6 col-xl-4" *ngFor="let product of products">
                  <div class="sin-product style-two">
                    <div class="pro-img">
                      <img [src]="product.image_url" alt="" />
                    </div>
                    <div class="mid-wrapper">
                      <h5 class="pro-title">
                        <a href="product.html">{{ product?.name?.ar }}</a>
                      </h5>
                      <div class="color-variation">
                        <ul>
                          <li><i class="fas fa-circle"></i></li>
                          <li><i class="fas fa-circle"></i></li>
                          <li><i class="fas fa-circle"></i></li>
                          <li><i class="fas fa-circle"></i></li>
                        </ul>
                      </div>
                      <!-- <p>Category / <span>$387</span></p> -->
                    </div>
                    <div class="icon-wrapper">
                      <div class="pro-icon">
                        <ul>
                          <li>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                          </li>
                          <li>
                            <a href="#"
                              ><i class="fa-solid fa-arrow-right-arrow-left"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="trigger"
                              (click)="goToDetailsPage(product)"
                              ><i class="fa-solid fa-eye"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                      <div class="add-to-cart">
                        <a href="#">add to cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- /.sin-product -->
                </div>
                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tab-pane-->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div class="row no-gutters">
                <div class="col-xl-12">
                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp1.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="#">Laaptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp2.jpg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp3.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp1.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp2.jpg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp1.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="#">Laaptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp2.jpg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="media/images/product/lp3.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->
                </div>
                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tab-pane-->
          </div>
          <!-- /.tab-content -->
          <div class="load-more-wrapper d-flex justify-content-center">
            <!-- <a class="btn-two">{{ "loadMore" | translate }}</a> -->

            <mat-paginator
              [length]="pagination?.total"
              [pageSize]="paginationOptions?.pageSize"
              [pageIndex]="paginationOptions?.pageNumber"
              [pageSizeOptions]="[15]"
              aria-label="Select page"
              [hidePageSize]="true"
              (page)="pageChange($event)"
              showFirstLastButtons="true"
              *ngIf="products.length > 0"
            >
            </mat-paginator>

            <ng-container *ngIf="products.length <= 0">
              لا يوجد بيانات لعرضها</ng-container
            >
          </div>
          <!-- /.load-more-wrapper -->
        </div>
        <!-- /.shop-content -->
      </div>
      <!-- /.col- -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.shop-area -->
