<section class="breadcrumb-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bc-inner">
          <p>
            <a routerLink="/">{{ "home" | translate }} |</a>
            {{ "shop" | translate }}
          </p>
        </div>
      </div>
      <!-- /.col-xl-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!--=========================-->
<!--=        Shop area          =-->
<!--=========================-->

<section class="shop-area">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="order-2 order-lg-1 col-lg-3 col-xl-3">
        <div class="shop-sidebar left-side">
          <div class="sidebar-widget sidebar-search" *ngIf="!isCategoryPage">
            <input
              (input)="filterByName($event)"
              (keyup.enter)="sendSearchName(inp.value)"
              type="text"
              placeholder="{{ 'searchProduct' | translate }}...."
              #inp
            />
            <button
              type="submit"
              [ngStyle]="{
                right: _translate.getCurrentLanguage() == 'ar' ? '80%' : 0
              }"
              (click)="sendSearchName(inp.value)"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="sidebar-widget category-widget" *ngIf="!isCategoryPage">
            <h6 style="text-transform: uppercase">
              {{ "productCategories" | translate }}
            </h6>
            <ul>
              <li
                *ngFor="let category of categories"
                class="category-list-item"
                style="padding-bottom: 0"
              >
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a *ngIf="translate.currentLang == 'ar'">{{
                      category.name["ar"]
                    }}</a>
                    <a
                      *ngIf="translate.currentLang == 'en'"
                      style="text-transform: capitalize"
                      >{{ category.name["en"] }}</a
                    >
                  </div>
                  <div>
                    <mat-checkbox
                      [checked]="category?.checked"
                      (change)="filterByCategory(category)"
                    ></mat-checkbox>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="sidebar-widget range-widget" *ngIf="!isCategoryPage">
            <h6 style="text-transform: uppercase">
              {{ "searchPrice" | translate }}
            </h6>
            <div class="price-range">
              <div id="slider-range"></div>
              <!-- <ngx-slider
                [(value)]="minValue"
                [(highValue)]="maxValue"
                [options]="options"
              ></ngx-slider> -->
              <mat-button-toggle-group
                name="fontStyle"
                aria-label="Font Style"
                (change)="filterByPrice($event.value)"
              >
                <mat-button-toggle value="priceLtH">{{
                  "lowToHigh" | translate
                }}</mat-button-toggle>
                <mat-button-toggle value="priceHtL">{{
                  "highToLow" | translate
                }}</mat-button-toggle>
              </mat-button-toggle-group>
              <!-- <span>Price :</span> -->
            </div>
          </div>

          <!-- <div class="sidebar-widget color-widget">
            <h6>PRODUCT COLOR</h6>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div> -->

          <div class="sidebar-widget product-widget" *ngIf="!isCategoryPage">
            <h6>{{ "BestSeller" | translate }}</h6>
            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/home/1.jpeg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title">
                  <!-- <a href="#">{{ "Contrasting" | translate }} </a> -->
                </h5>
                <!-- <span>$60</span> -->
                <!-- <span class="pre-price">$80</span> -->
                <div class="rating">
                  <ul>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/home/2.jpeg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title">
                  <!-- <a href="#">{{ "Contrasting" | translate }}</a> -->
                </h5>
                <!-- <span>$60</span> -->
                <!-- <span class="pre-price">$80</span> -->
                <div class="rating">
                  <ul>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/home/8.jpeg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title">
                  <!-- <a href="#">{{ "Contrasting" | translate }} </a> -->
                </h5>
                <!-- <span>$60</span> -->
                <!-- <span class="pre-price">$80</span> -->
                <div class="rating">
                  <ul>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wid-pro">
              <div class="sp-img">
                <img src="./assets/images/home/12.jpeg" alt="" />
              </div>
              <div class="small-pro-details">
                <h5 class="title">
                  <!-- <a href="#">{{ "Contrasting" | translate }} </a> -->
                </h5>
                <!-- <span>$60</span>
                <span class="pre-price">$80</span> -->
                <div class="rating">
                  <ul>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                    <li>
                      <a><i class="far fa-star"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-widget advertise-img" *ngIf="!isCategoryPage">
            <a class="img">
              <img src="./assets/images/home/14.jpeg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <!-- /.col-xl-3 -->
      <div
        [ngClass]="
          !isCategoryPage
            ? 'order-1 order-lg-2 col-lg-9 col-xl-9'
            : ' col-lg-12 col-xl-12'
        "
      >
        <div class="shop-sorting-area row">
          <div class="col-4 col-sm-4 col-md-6">
            <ul class="nav nav-tabs shop-btn" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  ><i class="fa-solid fa-bars"></i
                ></a>
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  ><i class="flaticon-list"></i
                ></a>
              </li> -->
            </ul>
          </div>
          <!-- /.col-->
          <div class="col-12 col-sm-8 col-md-6">
            <div class="sort-by">
              <span>{{ "sortBy" | translate }} :</span>
              <select class="orderby" name="orderby">
                <option value="menu_order">
                  {{ "defaultSorting" | translate }}
                </option>
                <option value="popularity">
                  {{ "sortPopularity" | translate }}
                </option>
                <option value="rating">{{ "sortByAvg" | translate }}</option>
                <option value="date">{{ "sortByNew" | translate }}</option>
                <option selected="selected">
                  {{ "bestSelling" | translate }}
                </option>
              </select>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.shop-sorting-area -->
        <div class="shop-content">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row" *ngIf="products?.length > 0">
                <div class="col-sm-6 col-xl-4" *ngFor="let product of products">
                  <app-product-item [product]="product"></app-product-item>
                </div>

                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tab-pane-->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div class="row no-gutters">
                <div class="col-xl-12">
                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/20.jpeg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="#">Laaptop carry bag</a>
                          </h5>
                          <!-- <span>$387</span> -->
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a
                            class="btn-two"
                            style="text-transform: capitalize"
                            >{{ "addCart" | translate }}</a
                          >
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/product/lp2.jpg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <!-- <span>$387</span> -->
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/22.jpg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <!-- <span>$387</span> -->
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/15.jpeg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <!-- <span>$387</span> -->
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/18.jpeg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/19.jpeg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="#">Laaptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/20.jpeg" alt="" />
                        </div>
                        <span class="new-tag">NEW!</span>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->

                  <div class="sin-product list-pro">
                    <div class="row">
                      <div class="col-md-5 col-lg-6 col-xl-4">
                        <div class="pro-img">
                          <img src="./assets/images/home/3.jpeg" alt="" />
                        </div>
                        <div class="pro-icon">
                          <ul>
                            <li>
                              <a href="#"
                                ><i class="flaticon-valentines-heart"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="flaticon-compare"></i></a>
                            </li>
                            <li>
                              <a href="#" class="trigger"
                                ><i class="flaticon-eye"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-6 col-xl-8">
                        <div class="list-pro-det">
                          <h5 class="pro-title">
                            <a href="product.html">Laptop carry bag</a>
                          </h5>
                          <span>$387</span>
                          <div class="rating">
                            <ul>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                              <li>
                                <a href="#"><i class="fas fa-star"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="color-variation">
                            <ul>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                              <li><i class="fas fa-circle"></i></li>
                            </ul>
                          </div>
                          <p>
                            Autem vel eum iriure dolor in hendrerit in vulputate
                            velit esse molestie consequat vel illdolore eu
                            olestie consequat feugiat nulla facilisis at vero
                            eros.Autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat vel illum
                            dolore eu olestie consequat feugiat nulla facilisis
                            at vero eros.
                          </p>
                          <a class="btn-two" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.sin-product-->
                </div>
                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tab-pane-->
          </div>
          <!-- /.tab-content -->
          <div class="load-more-wrapper d-flex justify-content-center">
            <!-- <a class="btn-two">{{ "loadMore" | translate }}</a> -->

            <mat-paginator
              [length]="pagination?.total"
              [pageSize]="paginationOptions?.pageSize"
              [pageIndex]="paginationOptions?.pageNumber"
              [pageSizeOptions]="[15]"
              aria-label="Select page"
              [hidePageSize]="true"
              (page)="pageChange($event)"
              showFirstLastButtons="true"
              *ngIf="products.length > 0"
            >
            </mat-paginator>

            <ng-container *ngIf="products.length <= 0">
              لا يوجد بيانات لعرضها</ng-container
            >
          </div>
          <!-- /.load-more-wrapper -->
        </div>
        <!-- /.shop-content -->
      </div>
      <!-- /.col- -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.shop-area -->
