$mainColor: #a00f76;

::ng-deep .ngx-slider .ngx-slider-bar {
  border: 0px solid #c5c5c5;
  background: #f1f1f1;
  border-radius: 0px;
  height: 6px;
  margin-left: 12px;
  margin-right: 10px;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  border: 2px solid $mainColor;
  background: $mainColor !important;
  font-weight: normal;
  color: #121212 !important;
  border-radius: 50px;
  height: 16px !important;
  width: 16px !important;
  top: -7px !important;
  &::after {
    content: none !important;
  }
}

::ng-deep .ngx-slider.animate .ngx-slider-selection {
  background: $mainColor !important;
}

.sidebar-search {
  position: relative;
  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.sp-img {
  width: 94px;
  img {
    width: 100%;
    height: 88px;
  }
}

.advertise-img {
  height: 400px;
  img {
    width: 100%;
    height: 100%;
  }
}

.pro-img {
  img {
    height: 300px;
  }
}

.mid-wrapper {
  p {
    text-align: center;
  }
}

// ::ng-deep.mat-mdc-icon-button.mat-mdc-button-base {
//   background-color: $mainColor;
//   margin: 0px 10px;
// }

.category-list-item {
  &::after {
    bottom: 16px !important;
  }
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  background-color: $mainColor !important;
  border-color: $mainColor !important;
}

#home-tab {
  background-color: transparent;
}

::ng-deep .mat-mdc-paginator {
  background-color: transparent !important;
}
