<div class="sin-product style-one">
  <div class="pro-img">
    <img [src]="product.image_url" alt="" />
  </div>
  <div class="mid-wrapper">
    <h5 class="pro-title">
      <a href="product.html">{{ product?.name?.ar }}</a>
    </h5>
    <!-- <span>$60.00</span> -->
  </div>

  <div class="pro-icon">
    <ul>
      <li>
        <a href="#"><i class="fa-solid fa-heart"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i></a>
      </li>
      <li>
        <a class="trigger" (click)="goToDetailsPage(product)"
          ><i class="fa-solid fa-eye"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
