<section class="main-product">
  <div class="container container-two">
    <app-section-title>
      <h3 data-aos="fade-up" data-aos-duration="2000">
        {{ "welcomeTo" | translate }} <span>{{ "products" | translate }}</span>
      </h3>
      <p
        data-aos="fade-right"
        data-aos-easing="ease-in-sine"
        data-aos-duration="2000"
      >
        {{ "h1" | translate }}
      </p>

      <a
        class="btn-two"
        [routerLink]="['/' + translate.currentLang + '/product/product-list']"
        >{{ "shopNow" | translate }}</a
      >
    </app-section-title>

    <div class="row">
      <div class="col-xl-12 mt-4">
        <owl-carousel-o [options]="customOptions" dir="ltr">
          <ng-container *ngFor="let slide of products">
            <ng-template carouselSlide>
              <app-product-item [product]="slide"></app-product-item>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
